body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.csv_bar {
    height: 10vh;
    width: 50vw;
}

.logo {
    height: 10vh;
    width: 50vw;
}

.graficos {
    height: 85vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide em 2 colunas iguais */
    grid-template-rows: repeat(2, 1fr); /* Divide em 2 linhas iguais */
    /* gap: 10px; */
    box-sizing: border-box; /* Inclui bordas e padding nas dimensões totais */
}

.grafico_1, .grafico_2, .grafico_3, .grafico_4 {
    display: flex; /* Facilita centralizar elementos dentro de cada gráfico */
    justify-content: center;
    align-items: center;
    height: 100%; /* Adapta-se ao espaço disponível */
    width: 100%; /* Adapta-se ao espaço disponível */
    box-sizing: border-box;
    overflow: hidden; /* Garante que o conteúdo excessivo não extrapole */
}

/* .grafico_1{
    background-color: #e100ff; 
}
.grafico_2 {
    background-color: #00a2ff;  
}
.grafico_3 {
    background-color: #e5ff00; 
}
.grafico_4 {
    background-color: #6b0000; 
}  */


.csv_bar {
    width: 50vw;
    height: 8vh;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
}

/* AQUI VAI EMBELEZAMENTO DO SITE */

.navbar{
    background-color: #006769;
    color: #9DDE8B;
}

.espaco{
    background-color: #9DDE8B;
    height: 1vh;
}

.graficos{
    background-color: white;
}